@using Microsoft.AspNetCore.Mvc.ModelBinding
@using gpconnect_user_portal.Helpers.Constants
@model DetailModel
@{
    var recordAccessHtmlEnabled = Model.SupplierProducts.IsHtmlEnabled;
    var recordAccessStructuredEnabled = Model.SupplierProducts.IsStructuredEnabled;
    var recordAccessAppointmentEnabled = Model.SupplierProducts.IsAppointmentEnabled;

    var recordAccessHtmlViewInvalid = recordAccessHtmlEnabled && Model.ModelState["RecordAccessHtmlView"]?.ValidationState == ModelValidationState.Invalid;
    var recordAccessStructuredInvalid = recordAccessStructuredEnabled && Model.ModelState["RecordAccessStructured"]?.ValidationState == ModelValidationState.Invalid;
    var appointmentInvalid = recordAccessAppointmentEnabled && Model.ModelState["Appointment"]?.ValidationState == ModelValidationState.Invalid;

    var useCaseDescriptionInvalid = Model.ModelState["UseCaseDescription"]?.ValidationState == ModelValidationState.Invalid;
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
                <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-heading-m">GP Connect Products</h2>
                <div class="nhsuk-hint" id="input-hint-recordaccesshtmlview">* Which products do you want to enable for your site?</div>

                @if (recordAccessHtmlEnabled)
                {
                    <div class="nhsuk-form-group@(recordAccessHtmlViewInvalid ? " nhsuk-form-group--error": string.Empty)">
                        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                            @if (recordAccessHtmlViewInvalid)
                            {
                                <span asp-validation-for="@Model.RecordAccessHtmlView" class="nhsuk-error-message"></span>
                            }
                            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">@Html.DisplayNameFor(model => model.RecordAccessHtmlView)</legend>
                            <div class="nhsuk-radios nhsuk-radios--inline">
                                <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" novalidate asp-for="@Model.RecordAccessHtmlView" value="None" type="radio">
                                    <label asp-for="@Model.RecordAccessHtmlView" class="nhsuk-label nhsuk-radios__label">None</label>
                                </div>
                                <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" novalidate asp-for="@Model.RecordAccessHtmlView" value="Provider" type="radio">
                                    <label asp-for="@Model.RecordAccessHtmlView" class="nhsuk-label nhsuk-radios__label">Provider</label>
                                </div>
                                <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" novalidate asp-for="@Model.RecordAccessHtmlView" value="Consumer" type="radio">
                                    <label asp-for="@Model.RecordAccessHtmlView" class="nhsuk-label nhsuk-radios__label">Consumer</label>
                                </div>
                                <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" novalidate asp-for="@Model.RecordAccessHtmlView" value="Both" type="radio">
                                    <label asp-for="@Model.RecordAccessHtmlView" class="nhsuk-label nhsuk-radios__label">Both</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                }
                @if (recordAccessStructuredEnabled)
                {
                    <div class="nhsuk-form-group@(recordAccessStructuredInvalid ? " nhsuk-form-group--error": string.Empty)">
                        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                            @if (recordAccessStructuredInvalid)
                            {
                                <span asp-validation-for="@Model.RecordAccessStructured" class="nhsuk-error-message"></span>
                            }
                            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">@Html.DisplayNameFor(model => model.RecordAccessStructured)</legend>
                            <div class="nhsuk-radios nhsuk-radios--inline">
                                <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" novalidate asp-for="@Model.RecordAccessStructured" value="None" type="radio">
                                    <label asp-for="@Model.RecordAccessStructured" class="nhsuk-label nhsuk-radios__label">None</label>
                                </div>
                                <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" novalidate asp-for="@Model.RecordAccessStructured" value="Provider" type="radio">
                                    <label asp-for="@Model.RecordAccessStructured" class="nhsuk-label nhsuk-radios__label">Provider</label>
                                </div>
                                <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" novalidate asp-for="@Model.RecordAccessStructured" value="Consumer" type="radio">
                                    <label asp-for="@Model.RecordAccessStructured" class="nhsuk-label nhsuk-radios__label">Consumer</label>
                                </div>
                                <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" novalidate asp-for="@Model.RecordAccessStructured" value="Both" type="radio">
                                    <label asp-for="@Model.RecordAccessStructured" class="nhsuk-label nhsuk-radios__label">Both</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                }
                @if (recordAccessAppointmentEnabled)
                {
                    <div class="nhsuk-form-group@(appointmentInvalid ? " nhsuk-form-group--error": string.Empty)">
                        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                            @if (appointmentInvalid)
                            {
                                <span asp-validation-for="@Model.Appointment" class="nhsuk-error-message"></span>
                            }
                            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">@Html.DisplayNameFor(model => model.Appointment)</legend>
                            <div class="nhsuk-radios nhsuk-radios--inline">
                                <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" novalidate asp-for="@Model.Appointment" value="None" type="radio">
                                    <label asp-for="@Model.Appointment" class="nhsuk-label nhsuk-radios__label">None</label>
                                </div>
                                <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" novalidate asp-for="@Model.Appointment" value="Provider" type="radio">
                                    <label asp-for="@Model.Appointment" class="nhsuk-label nhsuk-radios__label">Provider</label>
                                </div>
                                <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" novalidate asp-for="@Model.Appointment" value="Consumer" type="radio">
                                    <label asp-for="@Model.Appointment" class="nhsuk-label nhsuk-radios__label">Consumer</label>
                                </div>
                                <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" novalidate asp-for="@Model.Appointment" value="Both" type="radio">
                                    <label asp-for="@Model.Appointment" class="nhsuk-label nhsuk-radios__label">Both</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                }
                <div class="nhsuk-form-group@(useCaseDescriptionInvalid ? " nhsuk-form-group--error": string.Empty)">
                    <label asp-for="@Model.UseCaseDescription" class="nhsuk-label"></label>                    
                    <div class="nhsuk-hint" id="input-hint-usecasedescription">* For what purpose are you actually using the data?</div>
                    @if (useCaseDescriptionInvalid)
                    {
                        <span asp-validation-for="@Model.UseCaseDescription" class="nhsuk-error-message"></span>
                    }
                    <input class="nhsuk-input@(useCaseDescriptionInvalid ? " nhsuk-input--error": string.Empty)" aria-describedby="input-hint-usecasedescription" novalidate asp-for="@Model.UseCaseDescription" value="@Model.UseCaseDescription" type="text">
                </div>                
            </div>
        </div>
    </div>
</div>