@model DetailModel

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
                <p class="nhsuk-card__description">
                    <ol class="nhsuk-contents-list__list">
                        <li class="nhsuk-contents-list__item"><span>Use this form if you wish to start to use GP Connect products, change the ones you are currently using or change your GP Connect supplier.</span></li>
                        <li class="nhsuk-contents-list__item"><span>Information about end users who are using GP Connect products for Direct Patient Care.</span></li>
                        <li class="nhsuk-contents-list__item"><span>Support to end users who wish to start to use GP Connect products or change the ones they are currently using.</span></li>
                    </ol>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-submitter">@Html.DisplayNameFor(model => model.Submitter)</label>
            <input class="nhsuk-input" id="input-submitter" novalidate asp-for="@Model.Submitter" name="submitter" value="@Model.Submitter" type="text">
        </div>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-contactemailaddress">@Html.DisplayNameFor(model => model.ContactEmailAddress)</label>
            <input class="nhsuk-input" id="input-contactemailaddress" novalidate asp-for="@Model.ContactEmailAddress" name="contactemailaddress" value="@Model.ContactEmailAddress" type="text">
        </div>
    </div>
    <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-contacttelephone">@Html.DisplayNameFor(model => model.ContactTelephone)</label>
            <input class="nhsuk-input" id="input-contacttelephone" novalidate asp-for="@Model.ContactTelephone" name="contacttelephone" value="@Model.ContactTelephone" type="text">
        </div>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-odscode">@Html.DisplayNameFor(model => model.FormOdsCode)</label>
            <input class="nhsuk-input" id="input-odscode" novalidate asp-for="@Model.FormOdsCode" name="odscode" value="@Model.FormOdsCode" type="text">
        </div>
    </div>
    <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-form-group">
            <label class="nhsuk-label">&nbsp;</label>
            <div class="nhsuk-checkboxes">
                <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="input-odsissued" name="odsissued" type="checkbox" value="@Model.OdsIssued">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="input-odsissued">@Html.DisplayNameFor(model => model.OdsIssued)</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-sitename">@Html.DisplayNameFor(model => model.SiteName)</label>
            <input class="nhsuk-input" id="input-sitename" novalidate asp-for="@Model.SiteName" name="sitename" value="@Model.SiteName" type="text">
        </div>
    </div>
    <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-sitepostcode">@Html.DisplayNameFor(model => model.SitePostcode)</label>
            <input class="nhsuk-input" id="input-sitepostcode" novalidate asp-for="@Model.SitePostcode" name="sitepostcode" value="@Model.SitePostcode" type="text">
        </div>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-ccgname">@Html.DisplayNameFor(model => model.CCGOdsCodes) (if applicable)</label>
            <select asp-for="@Model.SelectedCCGOdsCode" asp-items="@Model.CCGOdsCodes" class="nhsuk-select" id="@Model.SelectedCCGOdsCode"></select>
        </div>
    </div>
    <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-ccgname">@Html.DisplayNameFor(model => model.CCGNames) (if applicable)</label>
            <select asp-for="@Model.SelectedCCGName" asp-items="@Model.CCGNames" class="nhsuk-select" id="@Model.SelectedCCGName"></select>
        </div>
    </div>
</div>