@using gpconnect_user_portal.Helpers.Constants
@model DetailModel

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
                <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-heading-m">GP Connect Products</h2>                
                <div class="nhsuk-form-group">
                    <button class="nhsuk-button" asp-page-handler="EnableProductUpdate" type="submit">@ButtonConstants.ENABLEPRODUCTUPDATE</button>
                    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">@Html.DisplayNameFor(model => model.RecordAccessHtmlView)</legend>
                        <div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="none">
                                <label class="nhsuk-label nhsuk-radios__label" for="example-1">None</label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="provider">
                                <label class="nhsuk-label nhsuk-radios__label" for="example-2">Providing Records</label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="consumer">
                                <label class="nhsuk-label nhsuk-radios__label" for="example-1">Consuming Records</label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="both">
                                <label class="nhsuk-label nhsuk-radios__label" for="example-2">Both</label>
                            </div>

                        </div>
                    </fieldset>
                </div>
                <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">@Html.DisplayNameFor(model => model.RecordAccessStructured)</legend>
                        <div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="none">
                                <label class="nhsuk-label nhsuk-radios__label" for="example-1">None</label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="provider">
                                <label class="nhsuk-label nhsuk-radios__label" for="example-2">Providing Records</label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="consumer">
                                <label class="nhsuk-label nhsuk-radios__label" for="example-1">Consuming Records</label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="both">
                                <label class="nhsuk-label nhsuk-radios__label" for="example-2">Both</label>
                            </div>

                        </div>
                    </fieldset>
                </div>
                
                <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">@Html.DisplayNameFor(model => model.Appointment)</legend>
                        <div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="none">
                                <label class="nhsuk-label nhsuk-radios__label" for="example-1">None</label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="provider">
                                <label class="nhsuk-label nhsuk-radios__label" for="example-2">Providing Records</label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="consumer">
                                <label class="nhsuk-label nhsuk-radios__label" for="example-1">Consuming Records</label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="both">
                                <label class="nhsuk-label nhsuk-radios__label" for="example-2">Both</label>
                            </div>

                        </div>
                    </fieldset>
                </div>                
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="input-usecases">@Html.DisplayNameFor(model => model.UseCases)</label>
                    <select asp-for="@Model.SelectedUseCase" asp-items="@Model.UseCases" class="nhsuk-select" id="@Model.SelectedUseCase"></select>
                </div>
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="input-usecasedescription">@Html.DisplayNameFor(model => model.UseCaseDescription)</label>
                    <input class="nhsuk-input" id="input-usecasedescription" novalidate asp-for="@Model.UseCaseDescription" name="usecasedescription" value="@Model.UseCaseDescription" type="text">
                </div>
            </div>
        </div>
    </div>
</div>