@using gpconnect_user_portal.Helpers.Constants
@model DetailModel

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
                <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-heading-m">GP Connect Products</h2>                
                <div class="nhsuk-form-group">
                    <button class="nhsuk-button" asp-page-handler="EnableProductUpdate" type="submit">@ButtonConstants.ENABLEPRODUCTUPDATE</button>
                    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">@Html.DisplayNameFor(model => model.RecordAccessHtmlView)</legend>
                        <div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                                @Html.RadioButtonFor(m => m.RecordAccessHtmlView, "", new { @class = "nhsuk-radios__input"})
                                <label class="nhsuk-label nhsuk-radios__label" asp-for="@Model.RecordAccessHtmlView">None</label>
                            </div>
                            <div class="nhsuk-radios__item">
                                @Html.RadioButtonFor(m => m.RecordAccessHtmlView, "provider", new { @class = "nhsuk-radios__input"})
                                <label class="nhsuk-label nhsuk-radios__label" asp-for="@Model.RecordAccessHtmlView">Providing Records</label>
                            </div>
                            <div class="nhsuk-radios__item">
                                @Html.RadioButtonFor(m => m.RecordAccessHtmlView, "consumer", new { @class = "nhsuk-radios__input"})
                                <label class="nhsuk-label nhsuk-radios__label" asp-for="@Model.RecordAccessHtmlView">Consuming Records</label>
                            </div>
                            <div class="nhsuk-radios__item">
                                @Html.RadioButtonFor(m => m.RecordAccessHtmlView, "both", new { @class = "nhsuk-radios__input"})
                                <label class="nhsuk-label nhsuk-radios__label" asp-for="@Model.RecordAccessHtmlView">Both</label>
                            </div>

                        </div>
                    </fieldset>
                </div>
                <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">@Html.DisplayNameFor(model => model.RecordAccessStructured)</legend>
                        <div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                                @Html.RadioButtonFor(m => m.RecordAccessStructured, "", new { @class = "nhsuk-radios__input"})
                                <label class="nhsuk-label nhsuk-radios__label" asp-for="@Model.RecordAccessStructured">None</label>
                            </div>
                            <div class="nhsuk-radios__item">
                                @Html.RadioButtonFor(m => m.RecordAccessStructured, "provider", new { @class = "nhsuk-radios__input"})
                                <label class="nhsuk-label nhsuk-radios__label" asp-for="@Model.RecordAccessStructured">Providing Records</label>
                            </div>
                            <div class="nhsuk-radios__item">
                                @Html.RadioButtonFor(m => m.RecordAccessStructured, "consumer", new { @class = "nhsuk-radios__input"})
                                <label class="nhsuk-label nhsuk-radios__label" asp-for="@Model.RecordAccessStructured">Consuming Records</label>
                            </div>
                            <div class="nhsuk-radios__item">
                                @Html.RadioButtonFor(m => m.RecordAccessStructured, "both", new { @class = "nhsuk-radios__input"})
                                <label class="nhsuk-label nhsuk-radios__label" asp-for="@Model.RecordAccessStructured">Both</label>
                            </div>

                        </div>
                    </fieldset>
                </div>
                
                <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">@Html.DisplayNameFor(model => model.Appointment)</legend>
                        <div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                                @Html.RadioButtonFor(m => m.Appointment, "", new { @class = "nhsuk-radios__input"})
                                <label class="nhsuk-label nhsuk-radios__label" asp-for="@Model.Appointment">None</label>
                            </div>
                            <div class="nhsuk-radios__item">
                                @Html.RadioButtonFor(m => m.RecordAccessStructured, "provider", new { @class = "nhsuk-radios__input"})
                                <label class="nhsuk-label nhsuk-radios__label" asp-for="@Model.Appointment">Providing Records</label>
                            </div>
                            <div class="nhsuk-radios__item">
                                @Html.RadioButtonFor(m => m.RecordAccessStructured, "consumer", new { @class = "nhsuk-radios__input"})
                                <label class="nhsuk-label nhsuk-radios__label" asp-for="@Model.Appointment">Consuming Records</label>
                            </div>
                            <div class="nhsuk-radios__item">
                                @Html.RadioButtonFor(m => m.RecordAccessStructured, "both", new { @class = "nhsuk-radios__input"})
                                <label class="nhsuk-label nhsuk-radios__label" asp-for="@Model.Appointment">Both</label>
                            </div>

                        </div>
                    </fieldset>
                </div>                
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="input-usecases">@Html.DisplayNameFor(model => model.UseCases)</label>
                    <select asp-for="@Model.SelectedUseCase" asp-items="@Model.UseCases" class="nhsuk-select" id="@Model.SelectedUseCase"></select>
                </div>
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="input-usecasedescription">@Html.DisplayNameFor(model => model.UseCaseDescription)</label>
                    <input class="nhsuk-input" id="input-usecasedescription" novalidate asp-for="@Model.UseCaseDescription" name="usecasedescription" value="@Model.UseCaseDescription" type="text">
                </div>
            </div>
        </div>
    </div>
</div>