@model DetailModel

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-authoriser">@Html.DisplayNameFor(model => model.Authoriser)</label>
            <input class="nhsuk-input" id="input-authoriser" novalidate asp-for="@Model.Authoriser" name="authoriser" value="@Model.Authoriser" type="text">
        </div>

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-submitter">@Html.DisplayNameFor(model => model.Submitter)</label>
            <input class="nhsuk-input" id="input-submitter" novalidate asp-for="@Model.Submitter" name="submitter" value="@Model.Submitter" type="text">
        </div>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-contactemailaddress">@Html.DisplayNameFor(model => model.ContactEmailAddress)</label>
            <input class="nhsuk-input" id="input-contactemailaddress" novalidate asp-for="@Model.ContactEmailAddress" name="contactemailaddress" value="@Model.ContactEmailAddress" type="text">
        </div>
    </div>
    <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-contacttelephone">@Html.DisplayNameFor(model => model.ContactTelephone)</label>
            <input class="nhsuk-input" id="input-contacttelephone" novalidate asp-for="@Model.ContactTelephone" name="contacttelephone" value="@Model.ContactTelephone" type="text">
        </div>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-odscode">@Html.DisplayNameFor(model => model.FormOdsCode)</label>
            <input class="nhsuk-input" id="input-odscode" novalidate asp-for="@Model.FormOdsCode" name="odscode" value="@Model.FormOdsCode" type="text">
        </div>
    </div>
    <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-form-group">
            <label class="nhsuk-label">&nbsp;</label>
            <div class="nhsuk-checkboxes">
                <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="input-odsissued" name="odsissued" type="checkbox" value="@Model.OdsIssued">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="input-odsissued">@Html.DisplayNameFor(model => model.OdsIssued)</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-sitename">@Html.DisplayNameFor(model => model.SiteName)</label>
            <div class="nhsuk-hint" id="input-sitename-hint-text">Updated from ODS</div>
            <input class="nhsuk-input" id="input-sitename" novalidate asp-for="@Model.SiteName" name="sitename" value="@Model.SiteName" type="text">
        </div>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-ccgodscode">@Html.DisplayNameFor(model => model.CcgOdsCode)</label>
            <input class="nhsuk-input" id="input-ccgodscode" novalidate asp-for="@Model.CcgOdsCode" name="ccgodscode" value="@Model.CcgOdsCode" type="text">
        </div>
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-ccgname">@Html.DisplayNameFor(model => model.CcgName)</label>
            <input class="nhsuk-input" id="input-ccgname" novalidate asp-for="@Model.CcgName" name="ccgname" value="@Model.CcgName" type="text">
        </div>
    </div>
</div>