@using Microsoft.AspNetCore.Mvc.ModelBinding
@using gpconnect_user_portal.Helpers.Constants
@model DetailModel
@{
    var supplierInvalid = Model.ModelState["SelectedSupplier"]?.ValidationState == ModelValidationState.Invalid;
    var supplierProductUseCaseInvalid = Model.ModelState["SelectedSupplierProductUseCase"]?.ValidationState == ModelValidationState.Invalid;
    var careSettingInvalid = Model.ModelState["SelectedCareSetting"]?.ValidationState == ModelValidationState.Invalid;
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
                <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-heading-m">Supplier</h2>
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                        <div class="nhsuk-form-group@(supplierInvalid ? " nhsuk-form-group--error": string.Empty)">
                            <label asp-for="@Model.Suppliers" class="nhsuk-label"></label>
                            <div class="nhsuk-hint" id="input-hint-supplier">* Select the supplier for the site.</div>
                            @if (supplierInvalid)
                            {
                                <span asp-validation-for="@Model.SelectedSupplier" class="nhsuk-error-message"></span>
                            }
                            <select disabled="@Model.DisplayGpConnectProducts" asp-for="@Model.SelectedSupplier" aria-describedby="input-hint-supplier" novalidate asp-items="@Model.Suppliers" class="nhsuk-select@(supplierInvalid ? " nhsuk-select--error": string.Empty)"></select>
                        </div>
                    </div>
                    <div class="nhsuk-grid-column-one-half">
                        <div class="nhsuk-form-group@(careSettingInvalid ? " nhsuk-form-group--error": string.Empty)">
                            <label asp-for="@Model.CareSettings" class="nhsuk-label"></label>
                            <div class="nhsuk-hint" id="input-hint-caresetting">* Select the care setting for the site.</div>
                            @if (careSettingInvalid)
                            {
                                <span asp-validation-for="@Model.SelectedCareSetting" class="nhsuk-error-message"></span>
                            }
                            <select disabled="@Model.DisplayGpConnectProducts" asp-for="@Model.SelectedCareSetting" asp-items="@Model.CareSettings" aria-describedby="input-hint-caresetting" novalidate class="nhsuk-select@(careSettingInvalid ? " nhsuk-select--error": string.Empty)"></select>
                        </div>
                    </div>
                </div>
                @if (Model.CanUpdateOrSubmit)
                {
                    @if (!Model.DisplayGpConnectProducts)
                    {
                        <button class="nhsuk-button" asp-page-handler="LoadSupplierOptions" type="submit">@ButtonConstants.LOADSUPPLIEROPTIONS</button>
                    }
                    else
                    {
                        <button class="nhsuk-button" asp-page-handler="EnableSupplierUpdate" type="submit">@ButtonConstants.ENABLESUPPLIERUPDATE</button>
                    }
                }
            </div>
        </div>
    </div>
</div>
<input type="hidden" asp-for="SelectedSupplier" value="@Model.SelectedSupplier" />
<input type="hidden" asp-for="SelectedCareSetting" value="@Model.SelectedCareSetting" />
