@using gpconnect_user_portal.Helpers
@using gpconnect_user_portal.Helpers.Constants
@model ReviewModel

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                        <div class="nhsuk-grid-column-one-third">
                            <p class="nhsuk-label--s">@Html.DisplayNameFor(model => model.SiteName)</p>
                        </div>
                        <div class="nhsuk-grid-column-two-thirds">
                            <p>@Model.GetAttributeValue("SiteName")</p>
                        </div>
                    </div>
                    <div class="nhsuk-grid-column-one-half">
                        <div class="nhsuk-grid-column-two-thirds">
                            <p class="nhsuk-label--s">@Html.DisplayNameFor(model => model.RecordAccessHtmlView)</p>
                        </div>
                        <div class="nhsuk-grid-column-one-third">
                            <p>@Model.GetAttributeValue("RecordAccessHtmlView")</p>
                        </div>
                    </div>
                </div>
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                        <div class="nhsuk-grid-column-one-third">
                            <p class="nhsuk-label--s">@Html.DisplayNameFor(model => model.FormOdsCode)</p>
                        </div>
                        <div class="nhsuk-grid-column-two-thirds">
                            <p>@Model.GetAttributeValue("FormOdsCode")</p>
                        </div>
                    </div>
                    <div class="nhsuk-grid-column-one-half">
                        <div class="nhsuk-grid-column-two-thirds">
                            <p class="nhsuk-label--s">@Html.DisplayNameFor(model => model.RecordAccessStructured)</p>
                        </div>
                        <div class="nhsuk-grid-column-one-third">
                            <p>@Model.GetAttributeValue("RecordAccessStructured")</p>
                        </div>
                    </div>
                </div>

                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                        <div class="nhsuk-grid-column-one-half">
                            <p class="nhsuk-label--s">@Html.DisplayNameFor(model => model.SelectedCCGName)</p>
                        </div>
                        <div class="nhsuk-grid-column-one-half">
                            <p>@Model.GetAttributeValue("SelectedCCGName")</p>
                        </div>
                    </div>
                    <div class="nhsuk-grid-column-one-half">
                        <div class="nhsuk-grid-column-two-thirds">
                            <p class="nhsuk-label--s">@Html.DisplayNameFor(model => model.Appointment)</p>
                        </div>
                        <div class="nhsuk-grid-column-one-third">
                            <p>@Model.GetAttributeValue("Appointment")</p>
                        </div>
                    </div>
                </div>

                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                        <div class="nhsuk-grid-column-one-half">
                            <p class="nhsuk-label--s">@Html.DisplayNameFor(model => model.SelectedCCGOdsCode)</p>
                        </div>
                        <div class="nhsuk-grid-column-one-half">
                            <p>@Model.GetAttributeValue("SelectedCCGOdsCode")</p>
                        </div>
                    </div>
                    <div class="nhsuk-grid-column-one-half">
                        <div class="nhsuk-grid-column-one-third">
                            <p class="nhsuk-label--s">@Html.DisplayNameFor(model => model.UseCase)</p>
                        </div>
                        <div class="nhsuk-grid-column-two-thirds">
                            <p>@Model.UseCase</p>
                        </div>
                    </div>
                </div>

                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                        <div class="nhsuk-grid-column-one-third">
                            <p class="nhsuk-label--s">@Html.DisplayNameFor(model => model.SelectedSupplier)</p>
                        </div>
                        <div class="nhsuk-grid-column-two-thirds">
                            <p>@Model.GetAttributeValue("SelectedSupplier")</p>
                        </div>
                    </div>
                    <div class="nhsuk-grid-column-one-half">
                        <div class="nhsuk-grid-column-two-thirds">
                            <p class="nhsuk-label--s">@Html.DisplayNameFor(model => model.UseCaseDescription)</p>
                        </div>
                        <div class="nhsuk-grid-column-one-third">
                            <p>@Model.GetAttributeValue("UseCaseDescription")</p>
                        </div>
                    </div>
                </div>

                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-grid-column-one-third">
                            <p class="nhsuk-label--s">@Html.DisplayNameFor(model => model.Submitter)</p>
                        </div>
                        <div class="nhsuk-grid-column-two-thirds">
                            <p>@Model.GetAttributeValue("Submitter")</p>
                        </div>
                    </div>
                </div>

                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-grid-column-one-third">
                            <p class="nhsuk-label--s">@Html.DisplayNameFor(model => model.ContactEmailAddress)</p>
                        </div>
                        <div class="nhsuk-grid-column-two-thirds">
                            <p>@Model.GetAttributeValue("ContactEmailAddress")</p>
                        </div>
                    </div>
                </div>

                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-grid-column-one-third">
                            <p class="nhsuk-label--s">@Html.DisplayNameFor(model => model.ContactTelephone)</p>
                        </div>
                        <div class="nhsuk-grid-column-two-thirds">
                            <p>@Model.GetAttributeValue("ContactTelephone")</p>
                        </div>
                    </div>
                </div>
                <button class="nhsuk-button nhsuk-button--secondary" asp-page-handler="UpdateChanges" type="submit">@ButtonConstants.UPDATE</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="SiteInstanceId" name="SiteInstanceId" asp-for="@Model.SiteInstanceId" />
