@using gpconnect_user_portal.Helpers
@model ReviewModel

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent">
            <div class="nhsuk-card--care__heading-container">
                <h3 class="nhsuk-card--care__heading">
                    <span role="text"><span class="nhsuk-u-visually-hidden">Information: </span>Data Sharing Agreement</span>
                </h3>
                <span class="nhsuk-card--care__arrow" aria-hidden="true"></span>
            </div>
            <div class="nhsuk-card__content">
                <p>You have agreed to the Data Sharing Agreement and we have the contact details below in case of any queries.</p>
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <dl class="nhsuk-summary-list">
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">@Html.DisplayNameFor(x => x.DataSharingAgreementContactName)</dt>
                                <dd class="nhsuk-summary-list__value">@Html.DisplayFor(x => x.DataSharingAgreementContactName)</dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">@Html.DisplayNameFor(x => x.DataSharingAgreementContactEmailAddress)</dt>
                                <dd class="nhsuk-summary-list__value"><a href='mailto:@Html.DisplayFor(x => x.DataSharingAgreementContactEmailAddress)'>@Html.DisplayFor(x => x.DataSharingAgreementContactEmailAddress)</a></dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">@Html.DisplayNameFor(x => x.DataSharingAgreementContactTelephone)</dt>
                                <dd class="nhsuk-summary-list__value"><a href='tel:@Html.DisplayFor(x => x.DataSharingAgreementContactTelephone)'>@Html.DisplayFor(x => x.DataSharingAgreementContactTelephone)</a></dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">@Html.DisplayNameFor(x => x.DataSharingAgreementConfirmation)</dt>
                                <dd class="nhsuk-summary-list__value">@Html.Raw(Model.DataSharingAgreementConfirmation)</dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>