@page "{ProviderOdsCode?}"
@using GpConnect.NationalDataSharingPortal.EndUserPortal.Helpers.Constants
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model GpConnect.NationalDataSharingPortal.EndUserPortal.Pages.Search.SearchByCodeModel
@{
    var providerOdsCodeInvalid = Model.ModelState["ProviderOdsCode"]?.ValidationState == ModelValidationState.Invalid;

}

<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">
        <partial name="Back" model=@(new BackPartialModel())>
        <h1 class="nhsuk-label-wrapper">
            <label class="nhsuk-label nhsuk-label--xl">Find how an organisation shares patient records by ODS (organisation data service) code</label>
        </h1>
        <form method="post" id="search-input-form">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">
                  <div class="nhsuk-card">
                        <div class="nhsuk-card__content">
                          <div class="nhsuk-form-group @(providerOdsCodeInvalid ? "nhsuk-form-group--error": string.Empty)">
                              <label asp-for="@Model.ProviderOdsCode" class="nhsuk-label"></label>
                              <div class="nhsuk-hint" id="input-hint-providername">For example: J3T7E</div>
                                @if (providerOdsCodeInvalid)
                                {
                                              <span asp-validation-for="@Model.ProviderOdsCode" class="nhsuk-error-message"></span>
                                }
                              <input id="@Model.ProviderOdsCode" class="nhsuk-input@(providerOdsCodeInvalid ? " nhsuk-input--error": string.Empty)" novalidate
                                     asp-for="@Model.ProviderOdsCode" aria-describedby="input-hint-providerodscode" value="@Model.ProviderOdsCode" type="search">
                          </div>
                          <button class="nhsuk-button" asp-page-handler="Search" type="submit">@ButtonConstants.FIND</button>
                    </div>
                </div>
            </div>            
        </form>
    </main>
</div>
