@page "{id?}"
@using GpConnect.NationalDataSharingPortal.EndUserPortal.Helpers.Enumerations
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model GpConnect.NationalDataSharingPortal.EndUserPortal.Pages.Search.IndexModel
@{
    var source = DetailViewSource.Search;
    if (HttpContextAccessor?.HttpContext?.Request.Query.TryGetValue("Source", out _) == true)
    {
        Enum.TryParse(HttpContextAccessor?.HttpContext?.Request.Query["Source"][0].ToString(), out source);
    }

    Enum.TryParse(HttpContextAccessor?.HttpContext?.Request.Query["Mode"][0].ToString(), out SearchMode mode);
    @*  *@
    var backModel = new BackPartialModel 
    {
        Query = HttpContextAccessor?.HttpContext?.Request.Query["Query"][0],
        Mode = mode,
        Source = source
    };

}
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">
        <partial name="Back" 
            model=backModel >
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <h1 class="nhsuk-label-wrapper">
                    <label class="nhsuk-label nhsuk-label--xl">
                        Find how an organisation shares patient records
                    </label>
                </h1>
            </div>
        </div>
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-card nhsuk-card--feature">
                    <div class="nhsuk-card__content nhsuk-card__content--feature">
                        <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-heading-m">
                            Patient record sharing services and reasons
                        </h2>
                        <div class="nhsuk-card__content--feature">
                            <h3 class="nhsuk-card__heading nhsuk-heading-s">@* @Model.Name *@ Name</h3>
                            <label class="nhsuk-label">@* @Model.Address *@ Address </label>
                            <div>
                                <h4 class="nhsuk-card__heading nhsuk-heading-xs">
                                    Reason:
                                </h4>
                                <p>@* @Model.Address *@ Use Case </p>     
                                <h4 class="nhsuk-card__heading nhsuk-heading-xs">
                                    Serice(s) used:
                                </h4>        
                                <ol class="nhsuk-contents-list__list">
                                    @if (true) {
                                        <li class="nhsuk-contents-list__item">
                                            <a class="nhsuk-contents-list__link" 
                                                href="https://www.nhs.uk/conditions/age-related-macular-degeneration-amd/symptoms/"
                                            >
                                                Access Record (HTML)
                                            </a>
                                        </li>
                                    }
                                    @if (true) {
                                        <li class="nhsuk-contents-list__item">
                                            <a class="nhsuk-contents-list__link" 
                                                href="https://www.nhs.uk/conditions/age-related-macular-degeneration-amd/getting-diagnosed/"
                                            >
                                                Access Record (Structured)
                                            </a>
                                        </li>
                                    }
                                    @if (true) {
                                        <li class="nhsuk-contents-list__item">
                                            <a class="nhsuk-contents-list__link" 
                                                href="https://www.nhs.uk/conditions/age-related-macular-degeneration-amd/treatment/"
                                            >
                                                Appointment Management
                                            </a>
                                        </li>
                                    }
                                    @if (true) {
                                        <li class="nhsuk-contents-list__item">
                                            <a class="nhsuk-contents-list__link" 
                                                href="https://www.nhs.uk/conditions/age-related-macular-degeneration-amd/living-with-amd/"
                                            >
                                                Send Document
                                            </a>
                                        </li>
                                    }
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                        <h3 class="nhsuk-card__heading">
                            Patient record sharing services and reasons
                            
                        </h3>
                        <label class="nhsuk-label nhsuk-label--s">@* @Model.Name *@ Name</label>
                        
                        <p class="nhsuk-card__description">@* @Model.Address *@ Address </p>
                        <label class="nhsuk-label">
                            Reason:
                        </label>
                        <p>@* @Model.Address *@ Use Case </p>     
                        <label class="nhsuk-label">
                            Serice(s) used:
                        </label>        
                        <ol class="nhsuk-contents-list__list">
                            @if (true) {
                                <li class="nhsuk-contents-list__item">
                                    <a class="nhsuk-contents-list__link" 
                                        href="https://www.nhs.uk/conditions/age-related-macular-degeneration-amd/symptoms/"
                                    >
                                        Access Record (HTML)
                                    </a>
                                </li>
                            }
                            @if (true) {
                                <li class="nhsuk-contents-list__item">
                                    <a class="nhsuk-contents-list__link" 
                                        href="https://www.nhs.uk/conditions/age-related-macular-degeneration-amd/getting-diagnosed/"
                                    >
                                        Access Record (Structured)
                                    </a>
                                </li>
                            }
                            @if (true) {
                                <li class="nhsuk-contents-list__item">
                                    <a class="nhsuk-contents-list__link" 
                                        href="https://www.nhs.uk/conditions/age-related-macular-degeneration-amd/treatment/"
                                    >
                                        Appointment Management
                                    </a>
                                </li>
                            }
                            @if (true) {
                                <li class="nhsuk-contents-list__item">
                                    <a class="nhsuk-contents-list__link" 
                                        href="https://www.nhs.uk/conditions/age-related-macular-degeneration-amd/living-with-amd/"
                                    >
                                        Send Document
                                    </a>
                                </li>
                            }
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>