@page
@using GpConnect.NationalDataSharingPortal.EndUserPortal.Helpers.Enumerations
@model GpConnect.NationalDataSharingPortal.EndUserPortal.Pages.Search.ResultsModel

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var backModel = new BackPartialModel 
    {
        Query = @Model.Query,
        Mode = @Model.Mode,
        Source = DetailViewSource.Search
    };
}
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">
        <partial name=Back model=backModel />
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <h1 class="nhsuk-label-wrapper">
                    <label class="nhsuk-label nhsuk-label--xl">
                        Find how an organisation shares patient records
                    </label>
                </h1>
            </div>
        </div>
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                        <h3 class="nhsuk-card__heading">
                            Clinical care setting results for '@Model.Query'
                        </h3>
                        <h4>Name and address</h4>
                        <dl class="nhsuk-summary-list">
                            @foreach (var searchResult in Model.SearchResult.SearchResults)
                            {
                                <div class="nhsuk-summary-list__row">
                                    <dt class="nhsuk-summary-list__key">
                                        <a asp-page="./Detail" asp-route-id="@searchResult.SiteDefinitionId" asp-route-query="@Model.Query" asp-route-mode="@Model.Mode" asp-route-source=@DetailViewSource.Results>@searchResult.FullAddress</a>
                                    </dt>
                                </div>
                            }
                        </dl>
                    </div>
                <div>
            </div>
        </div>
    </main>
</div>
