@page
@using GpConnect.NationalDataSharingPortal.EndUserPortal.Helpers
@using GpConnect.NationalDataSharingPortal.EndUserPortal.Helpers.Constants
@model GpConnect.NationalDataSharingPortal.EndUserPortal.Pages.Search.ResultsModel

<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <div class="nhsuk-back-link">
                    <a class="nhsuk-back-link__link" 
                        asp-page="/Search/@Model.Mode" 
                        asp-route-ProviderOdsCode=@Model.CodeQueryOrNull 
                        asp-route-ProviderName=@Model.NameQueryOrNull 
                    >
                        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
                            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                        </svg>
                        Back
                    </a>
                </div>
            </div>
        </div>
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <h1 class="nhsuk-label-wrapper">
                    <label class="nhsuk-label nhsuk-label--xl">
                        Find how an organisation shares patient records
                    </label>
                </h1>
            </div>
        </div>
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                        <h3 class="nhsuk-card__heading">
                            Clinical care setting results for '@Model.Query'
                        </h3>
                        <h4>Name and address</h4>
                        <dl class="nhsuk-summary-list">
                            @foreach (var searchResult in Model.SearchResult.SearchResults)
                            {
                                <div class="nhsuk-summary-list__row">
                                    <dt class="nhsuk-summary-list__key">
                                        <a asp-page="./Detail" asp-route-id="@searchResult.SiteDefinitionId">
                                            @searchResult.SiteName, @searchResult.Address, @searchResult.SitePostcode
                                        </a>
                                    </dt>
                                </div>
                            }
                        </dl>
                    </div>
                <div>
            </div>
        </div>
    </main>
</div>
