@using gpconnect_user_portal.Helpers
@model SearchModel

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        @foreach (var searchResult in Model.SearchResult.SearchResults)
        {
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <div class="nhsuk-card nhsuk-card--feature">
                        <div class="nhsuk-card__content nhsuk-card__content--feature">
                            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-heading-m">@searchResult.SiteName</h2>
                            <div class="nhsuk-grid-row">
                                <div class="nhsuk-grid-column-one-half">
                                    <div class="nhsuk-grid-column-one-half">
                                        <p class="nhsuk-label--s">@Html.DisplayNameFor(model => searchResult.SiteODSCode)</p>
                                    </div>
                                    <div class="nhsuk-grid-column-one-half">
                                        <p>@searchResult.SiteODSCode</p>
                                    </div>
                                </div>
                                <div class="nhsuk-grid-column-one-half">
                                    <div class="nhsuk-grid-column-two-thirds">
                                        <p class="nhsuk-label--s">@Html.DisplayNameFor(model => searchResult.HasStructured)</p>
                                    </div>
                                    <div class="nhsuk-grid-column-one-third">
                                        <p>@searchResult.HasStructured.BooleanToHtml()</p>
                                    </div>
                                </div>
                            </div>
                            <div class="nhsuk-grid-row">
                                <div class="nhsuk-grid-column-one-half">
                                    <div class="nhsuk-grid-column-one-half">
                                        <p class="nhsuk-label--s">@Html.DisplayNameFor(model => searchResult.CCGName)</p>
                                    </div>
                                    <div class="nhsuk-grid-column-one-half">
                                        <p>@searchResult.CCGName</p>
                                    </div>
                                </div>
                                <div class="nhsuk-grid-column-one-half">
                                    <div class="nhsuk-grid-column-two-thirds">
                                        <p class="nhsuk-label--s">@Html.DisplayNameFor(model => searchResult.HasHtmlView)</p>
                                    </div>
                                    <div class="nhsuk-grid-column-one-third">
                                        <p>@searchResult.HasHtmlView.BooleanToHtml()</p>
                                    </div>
                                </div>
                            </div>
                            <div class="nhsuk-grid-row">
                                <div class="nhsuk-grid-column-one-half">
                                    <div class="nhsuk-grid-column-one-half">
                                        <p class="nhsuk-label--s">@Html.DisplayNameFor(model => searchResult.CCGODSCode)</p>
                                    </div>
                                    <div class="nhsuk-grid-column-one-half">
                                        <p>@searchResult.CCGODSCode</p>
                                    </div>
                                </div>
                                <div class="nhsuk-grid-column-one-half">
                                    <div class="nhsuk-grid-column-two-thirds">
                                        <p class="nhsuk-label--s">@Html.DisplayNameFor(model => searchResult.HasAppointment)</p>
                                    </div>
                                    <div class="nhsuk-grid-column-one-third">
                                        <p>@searchResult.HasAppointment.BooleanToHtml()</p>
                                    </div>
                                </div>
                            </div>
                            @if (searchResult.DisplayUseCase)
                            {
                                <div class="nhsuk-grid-row">
                                    <div class="nhsuk-grid-column-full">
                                        <div class="nhsuk-grid-column-full">
                                            <p class="nhsuk-label--s">@Html.DisplayNameFor(model => searchResult.UseCase)</p>
                                        </div>
                                        <div class="nhsuk-grid-column-full">
                                            <p>@searchResult.UseCase</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
